<app-page-header
  class="w-full h-fit"
  [showDatePicker]="true"
  (rangeDatesChanged)="onRangeDatesChanged($event)"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [emailDashboardDate]="true"
  [intervalInDaysStart]="intervalInDaysStart"
  [intervalInDaysEnd]="intervalInDaysEnd"
/>

<div class="flex flex-col w-full">
  <div class="flex flex-wrap gap-6 w-full">
    <div class="flex flex-row flex-wrap place-content-evenly w-full">
      <p-skeleton styleClass="w-1/3 my-3" height="250px" *ngIf="isLoadingGC" />
      <app-doughnut-chart
        title="Overall Sentiments Proportion"
        [chartData]="chartData"
        *ngIf="!isLoadingDC"
      />
      <p-skeleton styleClass="w-1/3 my-3" height="250px" *ngIf="isLoadingDC" />
      <p-skeleton styleClass="w-1/3 my-3" height="250px" *ngIf="isLoadingWCC" />
    </div>
    <div class="flex flex-row flex-wrap place-content-evenly w-full">
      <app-line-area-chart
        title="Sentiments Over Time"
        [labels]="labelsForSentimentsByTime"
        [positive_values]="positive_values_forSentimentsByTime"
        [neutral_values]="neutral_values_forSentimentsByTime"
        [negative_values]="negative_values_forSentimentsbyTime"
        *ngIf="!isLoadingSBTime"
      />
      <p-skeleton
        styleClass="w-1/2 my-3"
        height="250px"
        *ngIf="isLoadingSBTime"
      />
    </div>
  </div>

  <div class="flex flex-wrap gap-6 place-content-evenly w-full">
    <app-stacked-bar-chart
      title="Email count by sentiments and products"
      [labels]="labels_forStackedBarChart"
      [negativeDataSet]="negativeDataSet_forStackedBarChart"
      [neutralDataSet]="neutralDataSet_forStackedBarChart"
      [positiveDataSet]="positiveDataSet_forStackedBarChart"
      *ngIf="!isLoadingSDT"
    />
    <p-skeleton styleClass="w-1/2 my-3" height="250px" *ngIf="isLoadingSDT" />
    <app-multi-horizontal-bar-chart
      title="Average sentiments distribution of Products"
      [labels]="labels_forMultiHorizontal"
      [avgPositiveValues]="positiveDataSet_forMulti_HorizontalBarChart"
      [avgNeutralValues]="neutralDataSet_forMulti_HorizontalBarChart"
      [avgNegativeValues]="negativeDataSet_forMulti_HorizontalBarChart"
      *ngIf="!isLoadingSDT"
    />
    <p-skeleton styleClass="w-1/2 my-3" height="250px" *ngIf="isLoadingSDT" />
    <app-horizontal-bar-chart
      title="Average sentiment score By Products"
      [sbtChartLabels]="sbtChartLabels"
      [sbtChartColors]="sbtChartColors"
      [sbtChartValues]="sbtChartValues"
      *ngIf="!isLoadingSBT"
    />
    <p-skeleton styleClass="w-1/2 my-3" height="250px" *ngIf="isLoadingSBT" />
  </div>
  <div class="flex gap-6 flex-wrap">
    <div class="stat-cards">
    </div>
  </div>
</div>
